.card-unidades {
    transition: 0.3s all ease;
}

.card-unidades:hover {
    transition: 0.3s all ease;
    transform: scale(1.05);
}

.card-img-top {
    height: 350px;
    object-fit: cover;
}

html {
    scroll-behavior: smooth;
}

#map {
    width: 100%;
    height: 500px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
    overflow: hidden;
}




/* NAVBAR BASE */
.navbar-system{
    background: rgba(255,255,255,0.75);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    width: 100%;

    border-bottom: 1px solid rgba(0,0,0,0.06);

    box-shadow: 0 8px 30px rgba(0,0,0,0.04);

    padding: 12px 24px;

    transition: all .25s ease;
}

/* LOGO */
.h1-navbar{
    font-size: 1.6rem;
    font-weight: 800;
    letter-spacing: -0.5px;

    color:#111;

    transition:.2s;
}

.h1-navbar:hover{
    opacity:.7;
}

/* BOTÃO HAMBURGUER */
.navbar-toggler{
    border:none;
    outline:none;
    box-shadow:none !important;

    padding:8px;
    border-radius:10px;

    transition:.2s;
}

.navbar-toggler:hover{
    background:#f4f4f4;
}

/* OFFCANVAS */
.offcanvas{
    border-left: none;

    background: rgba(255,255,255,0.85);
    backdrop-filter: blur(18px);

    width: 280px;
}

/* TÍTULO */
.offcanvas-title{
    font-weight:800;
    letter-spacing:-0.3px;
}

/* ITENS */
.nav-link{
    font-weight:600;
    border-radius:10px;
    padding:12px 14px;
    transition:.2s;
}

/* HOVER DELICIOSO */
.nav-link:hover{
    background:#f5f5f5;
    transform: translateX(4px);
}

/* ITEM ATIVO */
.nav-link.active{
    background:#111;
    color:#fff !important;
}

/* LISTA */
.list-group-item{
    border:none;
}

.h1-inicio {
    margin-top: 5rem;
}